<div class="form-container">
    <h2 class="form-title">Отзыв</h2>
    <form>
        <div class="input-container">
        <label for="mark">Оценка</label>
        <input id="mark" formControlName="mark">
        <label for="feedText">Текст отзыва</label>
        <input id="feedText" formControlName="feedText">
        <label for="status">Статус</label>
        <input id="status" formControlName="status">
        </div>
        <button type="submit" class="button">Отправить</button>
    </form>
</div>
