<ul class="menu" *ngIf="router.url === '/home/organization'">
    <li class="menu-element"><a routerLink="/edit_organization">Редактировать профиль</a></li>
    <li class="menu-element"><a routerLink="/organization_tasks">Задачи</a></li>
    <li class="menu-element"><a routerLink="/organization_requests">Заявки</a></li>
    <li class="menu-element"><a (click)="logout()">Выход</a></li>
  </ul>
<div class="container">
    <p class="info-title">{{organization.name}}</p>
        <div class="info-container">
            <p class="about">О предприятии</p>
            <p class="info-text">{{organization.description}}</p>
            <p class="contacts-title about">Контакты</p>
            <p class="info-text">Телефон: {{organization.tel}}</p>
            <p class="info-text">Адрес: {{organization.address}} </p>
        </div>
</div>
<div>
    <p class="title">Задачи</p>
        <div class="task-container" *ngFor="let taskElement of task">
            <div class="flex-container">
                <p ><span class="task-text">Описание</span> <br> {{taskElement.description}}</p>
                <p ><span class="task-text">Навыки</span> <br> {{taskElement.skills}}</p>
                <p><span class="task-text">Тип</span> <br> {{taskElement.type}}</p>
                <p ><span class="task-text">Количество мест</span> <br> {{taskElement.maxAmount}}</p>
            </div>
            <div class="button-container">
                <button class="button small" (click)="sendRequest(taskElement.id)">Откликнуться</button>
            </div>
        </div>
</div>
<div>
    <p class="title">Отзывы</p>
        <div class="feedback-container" *ngFor="let feedbackElement of feedback">
            <p class="mark">Оценка: {{feedbackElement.mark}}</p>
            <p>{{feedbackElement.text}}</p>
        </div>
</div>
