<ul>
    <li><a routerLink="/edit_organization">Редактировать</a></li>
    <li><a routerLink="/organization_tasks">Задачи</a></li>
    <li><a routerLink="/login">Приглашения</a></li>
    <li><a (click)="logout()">Выход</a></li>
  </ul>
<div class="container">
    <h2 class="info-title">{{organization.name}}</h2>
        <div class="info-container">
            <h3>О предприятии</h3>
            <p class="info-text">{{organization.description}}</p>
            <h3 class="contacts-title">Контакты</h3>
            <p class="info-text">Телефон: {{organization.tel}}</p>
            <p class="info-text">Адрес: {{organization.address}} </p>
        </div>
</div>
<div>
    <h2 class="task-title">Задачи</h2>
        <div class="task-container" *ngFor="let taskElement of TaskData">
            <p ><span class="task-text">Описание</span> <br> {{taskElement.description}}</p>
            <p ><span class="task-text">Навыки</span> <br> {{taskElement.skills}}</p>
            <p><span class="task-text">Тип</span> <br> {{taskElement.type}}</p>
            <p ><span class="task-text">Количество мест</span> <br> {{taskElement.amount}}</p>
        </div>
</div>
<div>
    <h2 class="feedback-title">Отзывы</h2>
        <div class="feedback-container" *ngFor="let feedbackElement of feedbackData">
            <p class="feedback-name">{{feedbackElement.name}}</p>
            <p class="feedback-date">{{feedbackElement.date}}</p>
            <p>{{feedbackElement.text}}</p>
        </div>
</div>
