.container {
    margin-left: auto;
    margin-right: auto;
}
.info-container {
    padding: 12px;
    width: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
}
.info-text {
    font-weight: 300;
    font-size: 13px;
}
.info-title {
    text-align: center;
}
.contacts-title {
    border-top: 1px solid #FF4D00;
    padding-top: 10px;
}
h3 {
    font-size: 15px;
}
.task-title {
    font-size: 18px;
    text-align: center;
}
.task-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 12px;
}
.task-text {
    color: #FF4D00;
}
.feedback-title {
    font-size: 18px;
    text-align: center;
}
.feedback-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 12px;
}
.feedback-date {
    margin-top: -11px;
    font-size: 12px;
}
.feedback-name {
    font-size: 18px;
}

.button {
    background-color: none;
    border: none;
    color: white;
    display: block;
    background-color: #FF4D00;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    width: 250px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.button:hover {
    background: linear-gradient(180deg, rgba(255,77,0,0.8130602582830007) 50%, rgba(255,0,10,0.7178221630449055) 99%);
}
.small {
    padding: 10px;
    font-size: 15px;
    width: 120px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.menu {
    list-style: none;
    width: 103px;
    padding: 14px;
    margin-left: 28px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-element {
    margin: 10px;
    font-size: 11px;
}
.menu-element a:hover {
    color: #FF4D00;
}
.menu-element a {
    text-decoration: none;
    color:black;
}