<div class="form-container">
    <h2 class="form-title">Редактировать информацию</h2>
    <form [formGroup]="editProfileFormGroup" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <label for="name">Название организации</label>
          <input id="name" formControlName="name">
          <label for="description">Описание</label>
          <input id="description" formControlName="description">
          <label for="address">Адрес</label>
          <input id="address" formControlName="address">
          <label for="tel">Телефон</label>
          <input id="tel" formControlName="tel">
        </div>
        <button type="submit" class="button">Сохранить</button>
      </form>
      <button class="delete-button">Удалить профиль</button>
</div>