<h3>Список отправленных заявок</h3>
<div class="task-container" *ngFor="let taskElement of TaskData">
    <p ><span class="task-text">Описание</span> <br> {{taskElement.description}}</p>
    <p ><span class="task-text">Навыки</span> <br> {{taskElement.skills}}</p>
    <p><span class="task-text">Тип</span> <br> {{taskElement.type}}</p>
    <p ><span class="task-text">Количество мест</span> <br> {{taskElement.amount}}</p>
        <div class="button-container">
            <span class="id-span">#12359</span>
            <button class="button small">Удалить</button>
            <button class="button small">Оставить отзыв</button>
            <span class="status-span">На рассмотрении 26.22.2020</span>
        </div>
</div>