<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-student-profile></app-student-profile>
<app-organization-profile></app-organization-profile>
<app-organization-profile-task-list></app-organization-profile-task-list>
<app-organization-profile-request-list></app-organization-profile-request-list>
<app-student-profile-request-list></app-student-profile-request-list>
<app-student-profile-invitation-list></app-student-profile-invitation-list>
<app-admin-profile></app-admin-profile>