<div class="container">
    <p class="title">Список отзывов</p>
    <div class="feedback-element" *ngFor="let feedbackElement of feedback">
        <div class="name-and-mark">
            <p class="mark">Номер отзыва: {{feedbackElement.id}}</p>
            <p class="mark">Оценка: {{feedbackElement.mark}}</p>
        </div>
        <p class="date-element"></p>
        <p>{{feedbackElement.text}}</p>
        <p class="status-element">{{feedbackElement.isCompleted}}</p>
        <button class="button small" (click)="deleteFeedback(feedbackElement.id)">Удалить</button>
    </div>
</div>