<div class="container">
        <div class="user-element" *ngFor="let user of students">
            <div>
                <p class="user-name">{{user.fio}}</p>
                <p class="user-title">Направление</p>
                <p class="user-value">{{user.faculty}}</p>
                <p class="user-title">Номер группы</p>
                <p class="user-value">{{user.groupNumber}}</p>
                <a class="link-style" [routerLink]="['/student', user.id]">Перейти к профилю</a>
        </div>
    </div>
</div>