<div class="container">
    <p>Навыки</p>
    <div class="skills-container">
        <div class="form-container" *ngFor="let skill of skills">
            <p class="input-element">{{skill.firstSkill}}</p>
            <p class="input-element">{{skill.secondSkill}}</p>
            <p class="input-element">{{skill.thirdSkill}}</p>
            <p class="input-element">{{skill.fourthSkill}}</p>
            <p class="input-element">{{skill.fifthSkill}}</p>
            <p class="input-element">{{skill.sixthSkill}}</p>
            <p class="input-element">{{skill.seventhSkill}}</p>
        </div>
    </div>
</div>