<div class="container">
    <p>Навыки</p>
    <div class="skills-container">
        <form class="form-container">
            <input class="input-element" type="text">
            <input class="input-element" type="text">
            <input class="input-element" type="text">
            <input class="input-element" type="text">
            <input class="input-element" type="text">
            <input class="input-element" type="text">
            <input class="input-element" type="text">
            <input class="input-element" type="text">
        </form>
    </div>
</div>