.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.avatar {
    text-align: center;
    background-color: #FF4D00;
    color: white;
    font-size: 50px;
    border-radius: 90%;
    width: 170px;
    height: 170px;
    position: relative;
    margin-left: 100px;

}
.avatar-text {
    display: block;
    width: 100px;
    position: absolute;
    top: 30%;
    left: 21%;
}
.container-info {
    margin-right: 55%;
}