<div class="form-container">
    <h2 class="form-title">Новая задача</h2>
    <form >
        <div class="input-container">
        <label for="description">Описание</label>
        <input id="description" formControlName="description">
        <label for="skills">Навыки</label>
        <input id="skills" formControlName="skills">
        <label for="type">Тип</label>
        <input id="type" formControlName="type">
        <label for="amount">Количество мест</label>
        <input id="amount" formControlName="amount">
        </div>
        <button type="submit" class="button">Создать</button>
    </form>
</div>