<div class ="main-info-container" >
    <div class="inner-container">
    <h2 class="main-info-title">Добро пожаловать на сервис <br> практического обучения</h2>
        <div class="main-text-container">
            <p>С&nbsp;помощью сервиса студенты могут найти базу практики и&nbsp;в&nbsp;дальнейшем трудоустроиться на&nbsp;работу мечты, а&nbsp;у&nbsp;предприятий есть возможность набрать в&nbsp;штат талантливейших студентов с&nbsp;необходимыми навыками для выполнения разнообразных задач</p>
        </div>
    <div class="button">
    <a>Присоединиться</a>
    </div>
    </div>
    <div class="image-container"><img src="assets/main-img.jpg" alt="image"></div> 
</div>
