<div>
    <h2>Название</h2>
        <div>
            <h3>О предприятии</h3>
            <p>Текст</p>
            <h3>Контакты</h3>
            <p>Почта</p>
            <p>Телефон</p>
            <p>Адрес</p>
        </div>
</div>
<div>
    <h2>Задачи</h2>
        <div *ngFor="">
            <p>Описание:</p>
            <p>Навыки:</p>
            <p>Тип:</p>
            <p>КОличество мест:</p>
        </div>
</div>
<div>
    <h2>Отзывы</h2>
        <div *ngFor="">
            <p>Имя Фамилия Отчество</p>
            <p>Дата</p>
            <p>Текст</p>
        </div>
</div>
