.container {
    margin-top: 50px;
}
.feedback-element {
    width: 450px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
.mark {
    color: #FF4D00;
}
.status-element {
    margin-top: 22px;
    font-weight: 300;
}
.title {
    margin: 0 auto;
}