<div class="container">
  <p class="title">Список заявок</p>
  <p class="request-title">Новые заявки</p>
  <div class="user-element" *ngFor="let requestion of requestions">
    <p class="user-value">Номер заявки: {{requestion.id}} </p>
    <p class="user-name">Заявка на задачу №{{requestion.taskId}}</p>
    <a class="link-style" [routerLink]="['/student', requestion.studentId]">Перейти к профилю студента</a>
    <div class="button-container">
      <button class="button small" (click)="acceptRequestion(requestion.id)">Принять</button>
      <button class="button small" (click)="rejectRequestion(requestion.id)">Отклонить</button>
    </div>
  </div>

  <p class="request-title">Рассмотренные заявки</p>
  <div class="user-element" *ngFor="let requestion of resolvedRequestions">
    <p class="user-value">Номер заявки: {{requestion.id}} </p>
    <p class="user-name">Заявка на задачу №{{requestion.taskId}}</p>
    <a class="link-style" [routerLink]="['/student', requestion.studentId]">Перейти к профилю студента</a>
    <div class="button-container">
      <p data-tooltip="2 - отклонена, 3 - принята"> Cтатус заявки: {{requestion.stateId}} </p>
        <a class="button small" [routerLink]="['/organization_feedback', requestion.studentId]">Написать отзыв</a>
    </div>
  </div>
</div>