<div class="container">
    <h2>Список заявок</h2>
    <h3>Новые заявки</h3>
    <div class="user-element" *ngFor="let user of userData">
        <div>
            <span class="id-span">#12399</span>
            <p class="user-name">{{user.fio}}</p>
            <p class="user-title">Направление </p>
            <p class="user-value">{{user.faculty}}</p>
            <p class="user-title">Номер группы</p>
            <p class="user-value">{{user.group}}</p>
            <a class="link-style" routerLink="">Перейти к профилю</a>
            <div class="button-container">
                <button class="button small">Принять</button>
                <button class="button small">Отклонить</button>
            </div>
    </div>
</div>
<h3>Рассмотренные заявки</h3>
<div class="user-element" *ngFor="let user of userData">
    <div>
        <span class="id-span">#12399</span>
        <p class="user-name">{{user.fio}}</p>
        <p class="user-title">Направление </p>
        <p class="user-value">{{user.faculty}}</p>
        <p class="user-title">Номер группы</p>
        <p class="user-value">{{user.group}}</p>
        <a class="link-style" routerLink="">Перейти к профилю</a>
        <div class="button-container">
            <button class="button small">Оставить отзыв</button> 
            <p>Принято</p>
        </div>
</div>
</div>