div {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FF4D00;
    width: 100%;
    font-size: 11px;
}

a {
    text-decoration: none;
}

.link-style {
    color: white;
}
.link-style:hover {
    background: linear-gradient(180deg, rgba(255,77,0,0.8130602582830007) 50%, rgba(255,0,10,0.7178221630449055) 99%);
}

.link-style:visited {
    color: white;
}
.link-style:active {
    color: rgb(133, 48, 12);
    border: none;
}

nav {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.counter {
    width: 100px;
    text-align: center;
    border-radius: 5px;
    margin-left: 44px;
    background-color: white;
    color:black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 8px;
}
.counter-result {
    font-size: 10px;
}
.lists-block {
    width: 300px;
    display: flex;
    justify-content: space-between;

}
.user-block {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    text-align: center;
}

.registration-style {
    position: relative;
    top: -5px;
    width: 90px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
}
.registration-link {
    color: black;
}
.registration-link:visited{
    color: black;
}
.registration-link:active{
    color: white;
}
.registration-style:hover {
    background-color: #dad6d6;
}