<div>    
    <nav> 
        <div class="counter"><span class="counter-result">{{counter}}<br>пользователей</span></div>
        <div class="lists-block">
            <a class="link-style" routerLink="/organization_list">Для студентов</a>
            <a class="link-style" routerLink="/student_list">Для предприятий</a>
        </div>
        <div class="user-block">
            <a class="link-style" routerLink="/login">Вход</a>
            <span class="registration-style"><a class="registration-link" routerLink="/signup">Регистрация</a></span>
        </div>
    </nav>
</div>