<ul class="menu" *ngIf="router.url === '/home/student'">
  <li class="menu-element"><a routerLink="/edit_student">Редактировать профиль</a></li>
  <li class="menu-element"><a routerLink="/add_skills">Навыки</a></li>
  <li class="menu-element"><a routerLink="/student_requests">Заявки</a></li>
  <li class="menu-element"><a (click)="logout()">Выход</a></li>
</ul>
<div class="container">
  <app-student-profile-main></app-student-profile-main>
  <div class="flex-container">
    <app-student-profile-skills></app-student-profile-skills>
    <app-student-profile-info></app-student-profile-info>
  </div>
  <app-student-profile-feedback></app-student-profile-feedback>
</div>