<div>
  <div class="container">
    <h2 class="task-title">Список задач</h2>
    <button class="button new-task"><a routerLink="/new_task">+ Добавить новую задачу</a></button>
  </div>
  <div class="task-container" *ngFor="let taskElement of task">
    <p><span class="task-text">Описание</span> <br> {{taskElement.description}}</p>
    <p><span class="task-text">Навыки</span> <br> {{taskElement.skills}}</p>
    <p><span class="task-text">Тип</span> <br> {{taskElement.type}}</p>
    <p><span class="task-text">Количество мест</span> <br> {{taskElement.maxAmount}}</p>
    <div class="button-container">
      <span class="id-span"># {{taskElement.id}}</span>
      <button class="button small" (click)="deleteTask(taskElement.id)">Удалить</button>
      <button class="button small"> <a [routerLink]="['/edit_task', taskElement.id]">Изменить</a></button>
    </div>
  </div>
</div>